body {
  /**
  background: #d65d35;
  background: -moz-linear-gradient(-45deg, #d65d35 0%, #5f3693 100%);
  background: -webkit-linear-gradient(-45deg, #d65d35 0%,#5f3693 100%);
  background: linear-gradient(135deg, #d65d35 0%,#5f3693 100%);
  height:100vh;
  ***/
}

form {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10%;
  max-width: 80%;
}

.message__error {
  display: block;
  color: #ff7675;
}

p {
  
}

.no-drop:hover {
  cursor: no-drop;
}
.carding {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 1rem;
  height: 50vh;
  overflow: hidden;
  -webkit-box-shadow: 6px -7px 4px -6px #b5aab5;
  -moz-box-shadow: 6px -7px 4px -6px #b5aab5;
  box-shadow: 6px -7px 4px -6px #b5aab5;
}
